@import url( 'https://fonts.googleapis.com/css2?family=Roboto:wght@400;500;700&display=swap');
* {
    padding: 0;
    margin: 0;
    box-sizing: border-box;
    font-family: roboto;
}
@media (max-width:1450px) {
    .container {
        width: 100%;
        max-width: 100%;
        padding: 0 6%;
    }
}
@media (min-width:1780px) {
    .container {
        width: 100%;
        max-width: 1540px;

    }
}

.w-51{
    width: 50%;
}
.black-2f2{
    color: #4a4a4c !important;
}
.fs-49-30{
    font-size: 49px;
    line-height: 58px;
    font-weight: 900;
    color: black;
}
.fs-22-16{
    font-size: 22px;
    line-height: 28px;
    font-weight: 600;
}
.fx-16{
    font-size: 16px;
    line-height: 28px;
    font-weight: 600;  
}
.fs-26-20{
    font-size: 26px;
    line-height: 32px;
    font-weight: 700;
}

.primary-btn{
    padding: 12px 30px;
    font-size: 19px;
    line-height: 28px;
    font-weight: bold;
    background: blue;
    border: 2px solid aqua;
    cursor: pointer;
    display: flex;
    align-items: center;
    justify-content: center;
}
@media (max-width:820px) {
    .mk-full{
        width: 100% !important;
    }
    .desk-show {
        display: none !important;
    }
    .mb-flex {
        display: flex;
    }
    .navbar-section {
        height: 80px;
    }
    .baground-slider {
        height: 250px;
    }
    .react-slideshow-container .nav:first-of-type,
    .react-slideshow-container .nav:last-of-type {
        display: none;
    }
    .fs-49-30{
        font-size: 26px;
        line-height: 32px;
        
    }
    .fs-22-16{
        font-size: 16px;
        line-height: 27px;
    }
    .fs-26-20{
        font-size: 20px;
        line-height: 27px;
    }
    .w-51{
        width: 100vw !important;
    }
 
}